*{
  box-sizing: border-box;
  margin: 0;
}
.header{
  background-color: aquamarine;
  
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 10px 15px;
 max-width: 1200px;
  margin: 0 auto;
 
}

a{
  text-decoration-line: none;
 color: black;
}

a + a{
  margin-left: 15px;
}
.menu, .close{
  cursor: pointer;
  display: none;
}

nav{
  display: block;
}

@media (max-width:700px) {
  a + a{
  margin-left: 0px;
}
  nav.open{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 250px;
    background-color: aquamarine;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
  }
  nav{
    display: none;
  }
  .menu, .close{
  display: block;
}

}