*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 10px;
}
.container{
  border: 1px solid navy;
  padding: 10px;
  background-color: #fff;
  color: black;
}

.dark-mode{
  background-color: black;
  color: #fff;
  
}
/* .container-dark{
  background-color: black;
  color: #fff;
} */
