.popup{
  background-color: brown;
  width: 300px;
  height: 150px;
  border-radius: 14px;
  position: fixed;
  /* inset: 0; */
  /* margin: auto; */
  padding: 16px;
  color: white;
  /* display: none; */
  box-shadow: 0 5px 4px 2px rgb(239 102 81 / 20%);
  /* transform: scale(0); */
  transform: translate(-50%,-50%) scale(0);
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
}
.popup.open{
  /* display: block; */
  /* transform: scale(1); */
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.close{
  position: absolute;
  right: 16px;
  font-size: 26px;
  cursor: pointer;
}

.overlay{
  position: fixed;
  inset: 0;
  background-color: rgb(239 102 81 / 20%);
  display: none;
  
}

 .overlay.open{
  display: block;

}