*{
  box-sizing: border-box;
}
body{
  background-color: rgba(72, 163, 0, 0.07);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
main{
  padding: 0px 16px 32px;
}
.title{
  color: green;
  font-size: 64px;
  text-align: center;
}
.title span{
  color: brown;
}

.app-container{
  background-color: #fff;
  max-width: 640px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 32px 42px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.sub-title span{
  color: rgb(250, 179, 0);
  /* vertical-align: middle; */
  margin-left: 6px;
}

.progress-label{
  color: silver;
  font-size: 14px;
  margin-bottom: 18px;
}

.progress-bar{
  background-color: rgb(204, 250, 204);
  height: 30px;
  border-radius: 15px;
  margin-bottom: 24px;
}
.progress-value{
   background-color: green;
  height: 100%;
  border-radius: 15px;
    width: 0;
    color: white;
    font-weight: 500;
    font-size: 10px;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  /* visibility: hidden; */
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}
.progress-value span{
  padding-left: 10px;
  min-width: max-content;
}

.error-label{
  color: red;
  font-size: 10px;
  margin-block: 20px;
   display: none;
}

.goal-container{
  border: 1px solid rgb(222, 222, 222);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: rgb(253, 252, 251);
  margin-bottom: 36px;
}
.custom-checkbox{
  height: 24px;
  width: 24px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.goal-input{
  padding-left: 22px;
  font-family: inherit ;
  font-size: 16px;
  border: none;
  outline: none;
  /* flex-grow: 1; */
  width: 100%;
  /* background-color: blue; */
  align-self: stretch;
  font-weight: 500;
}
.quote, .made-with{
  font-weight: 500px;
  text-align: center;

}
.made-with{
  font-weight: 500px;
  font-size: 10px;
  text-align: center;
  color: gray;
  margin-top: 64px;
}

.completed .custom-checkbox{
  background-color: green  ;
  border-color: green;
}
.check-icon{
  display: none;
}
.completed .check-icon{
  display: block;
}
.completed .goal-input{
 color: green;
 text-decoration: line-through;
}
@media (max-width:768px) {
  .title{
    font-size: 32px;
  }
  .app-container{
    padding: 16px 32px;
  }
  .goal-container{
    margin-bottom: 20px;
    height: 64px;
    border-radius: 12px;
  }
  .made-with{
    margin-top: 34px;
  }
  .custom-checkbox{
  height: 20px;
  width: 20px;

}
.progress-bar{
  height: 25px;
  border-radius: 12px;
}
}