*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Nunito, sans-serif ;
}
main{
  padding: 24px;
}
a{
  text-decoration-line: none;
  color: inherit;
}
.title{
  font-weight: 800;
}
.header{
 box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
 padding-inline: 24px;
}
.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  max-width: 1200px;
  margin-inline: auto;
 
}

.countries-card{
  
   max-width: 1200px;
   margin-inline: auto;
   padding-inline: 24px;
   margin-top: 16px;
   display: flex;
   gap: 64px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.country-card{
  display: inline-block;
  width: 200px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  transition: transform 0.2s ease-in-out;
}
.country-card:hover{
  transform: scale(1.02);  
  box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.country-card img{
  width: 100%;
}
.card-title{
  font-size: 24px;
  margin-block: 16px;
}
.card-text p{
  margin-block: 8px;
}
.card-text{
  padding-inline: 15px;

}




@media(max-width:950px){
.countries-card{
  justify-content: center;
}
.title{
  font-size: 16px;
}
.header-content p{
  font-size: 12px;
}
}

