*{
  box-sizing: border-box;
  margin: 0;
}
body{
  --background-color: white;
  --text-color: black;
  --element-color: white
 
  
  font-family: Nunito, sans-serif ;
  background-color: var(--background-color);
  color: var(--text-color);
}
body.dark{
  --background-color: hsl(207,26%,17%);
  --text-color: white;
  --element-color: hsl(209,23%,22%);
}
main{
  padding: 24px;
}
a{
  text-decoration-line: none;
  color: inherit;
}
.title{
  font-weight: 800;
}
.header{
 box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
 padding-inline: 24px;
 padding-block: 24px;
 background-color: var(--element-color);
}
.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  max-width: 1200px;
  margin-inline: auto;
 
}
.dark-mode{
  cursor: pointer;
}

.countries-card{
  
   max-width: 1200px;
   margin-inline: auto;
   /* padding-inline: 24px; */
   margin-top: 16px;
   display: flex;
   gap: 64px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.country-card{
  display: inline-block;
  width: 200px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
  transition: transform 0.2s ease-in-out;
  background-color: var(--element-color);
}
.country-card:hover{
  transform: scale(1.02);  
  box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.country-card img{
  width: 100%;
 
}
.card-title{
  font-size: 24px;
  margin-block: 16px;
}
.card-text p{
  margin-block: 8px;
}
.card-text{
  padding-inline: 15px;

}

.search-filter-container{
  max-width: 1200px;
   margin-inline: auto;
  margin-top: 14px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.search-container{
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
padding-left: 24px;
  border-radius: 4px;
color: gray;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}
.search-container input{
  border: none;
  outline: none;
  padding: 16px;
width: 90%;
background-color: inherit;
color: inherit;
}
.filter-region{
     width: 200px;
     padding:  16px;
     border: none;
     outline: none;
     box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
     border-radius: 4px;
     background-color: var(--background-color);
  color: var(--text-color);
}

@media(max-width:950px){
.countries-card{
  justify-content: center;
}
.title{
  font-size: 16px;
}
.header-content p{
  font-size: 12px;
}
.search-filter-container{
  flex-direction: column;
}
}

